.Weather {
  max-width: 500px;
  margin: 20px auto;
  font-family: arial;
  padding: 30px;
  border: solid 2px rgb(65, 0, 90);
  border-radius: 10px;
  font-family: arial;
  color: rgb(237, 238, 250);
  letter-spacing: 0.5mm;
  background-image: linear-gradient(to top, #f81313 0%, #f9fd09 100%);
}

.Weather h1 {
  color: rgb(65, 0, 90);
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: left;
  font-size: 26px;
  font-style: inherit;
  letter-spacing: 0.3em;
}
.Weather h2 {
  color: rgb(51, 1, 71);
  text-align: left;
  font-size: 75px;
}
.Weather h3 {
  color: white;
  font-size: 38px;
  padding-bottom: 10px;
  margin-top: -5px;
}
.Weather h4 {
  color: rgb(51, 1, 71);
  text-align: left;
  font-size: 24px;
  font-style: italic;
}
.Weather ul {
  padding: 0;
  margin: 0;
}
.Weather li {
  color: rgb(51, 1, 71);
  list-style: none;
  text-align: right;
  padding-top: 5px;
  font-size: 20px;
}
.units {
  color: white;
}
